body {
    font-family: (--font-family);
}

.admin-sidebar {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background: rgba(12, 29, 54, 0.1);
    z-index: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #0C1D36;
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
    top: 0;
    transition: 0.5s;
    width: 250px;
}

.logo {
    width: 90%;
}

.close-button {
    color: #818181;
    float: right;
    font-size: 36px;
    font-weight: bold;
    margin-right: 10px;
    align-self: flex-end;
    display: none;
    cursor: pointer;
}

.open-button {
    color: #818181;
    font-size: 36px;
    font-weight: bold;
    display: none;
    width: min-content;
    cursor: pointer;
}

.main-content {
    flex: 1;
    height: 100%;
    padding: 20px;

}

.admin_option {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    list-style: none;
}

.admin_option li {
    display: inline-block;
    margin-top: 25px;
    width: 100%;
    cursor: pointer;
}

.admin_option li {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.admin_option li:hover {
    background-color: #999;
}

@media (max-width: 768px) {
    .sidebar {
        width: 0px;
        position: absolute;
    }

    .close-button {
        display: block
    }

    .open-button {
        display: block;
    }
}