.admin-sidebar {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background: rgba(12, 29, 54, 0.1);
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #0C1D36;
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 250px;
}

.logo {
    width: 90%;
}

.close-button {
    color: #818181;
    float: right;
    font-size: 36px;
    font-weight: bold;
    margin-right: 10px;
    align-self: flex-end;
    display: none;
}

.open-button {
    color: #818181;
    font-size: 36px;
    font-weight: bold;
    display: none;
}

.main-content {
    flex: 1;
    height: 100%;
    padding: 20px;
}

@media (max-width: 700px) {
    .sidebar {
        width: 0px;
    }

    .close-button {
        display: block
    }

    .open-button {
        display: block;
    }
}